#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

#contact {
    margin-top: 22px;
}


input {
    background: grey
}

.campus_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.campus_mainDiv img {
    width: 100%;
}

.campus_mainDiv hr {
    width: 230px;
}

.campus_mainDiv h5,
.campus_mainDiv p {
    margin-left: 20px;
}

.award_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.award_head i {
    float: right;
}

.award_text span {
    color: #ff7700;
}

.new_li {
    margin-top: 13px;
}

.new_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

new_li img {
    border-radius: 25px;
}

.new_li p {
    margin-top: 10px;
}

.mypic {
    height: 250px;
    width: 250px;
}

.header_entrepreneur {
    line-height: 2;
}

.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align:center;
}
